%section

  %h1 Just do it

  %article

    .p
      The principles of a Clear Election don't require any particular
      technology or methodology.  The only special requirement is that your
      ballots should have secret, unique IDs that voters can use to check
      the returns.
      
    .p
      And of course you need to make your returns data freely
      available&mdash;it could be as simple as putting the returns data in
      a public "Google Docs" spreadsheet.

%section

  %h1
    Use the
    = partial 'clearelection_org'
    standard data format

  %article

    .p
      Here at
      = partial 'clearelection_org'
      we are developing an open standard data format for election returns.

    .p
      Having a standard data format means that we (or anybody nerdy enough)
      can build a variety of tools such as apps and web sites to simplify
      viewing, browsing, checking, tallying, and analyzing election
      returns.  These tools could be used for any election, regardless of
      how it was held, as long as the election holders make the returns
      data available.

    .p
      We at
      = partial 'clearelection_org'
      are developing open-source returns analysis tools, as well as a platform
      to host and manage election returns data.

      If you'd like to alpha-test our platform for your election,
      = succeed '.' do
        = partial 'contact_us'

%section

  %h1
    Use the
    = partial 'clearelection_org'
    Election Tools

  %article 
    .p
      Here at 
      = partial 'clearelection_org'
      we are developing open-source tools to make it easy to author and run a Clear Election:

    .subpoints
      .subpoint
        .point Paper ballots
        Tools that let you print ballots and sign-in sheets, and scan and
        process the paper returns.

      .subpoint
        .point Online voting
        Tools to let you register voters; and for you voters, website or
        mobile app to sign in and cast their ballots.

    .p
      If you'd like to alpha-test our tools for your election,
      = succeed '.' do
        = partial 'contact_us'

%section

  %h1
    Mix and match

  %article

    .p 
      Here at
      = partial 'clearelection_org'
      we don't expect all elections to fit exactly the same mold.  And we
      don't want to force anyone to use our software in order to get the
      benefits of a Clear Election.

    .subpoints
      .subpoint
        .point What are some examples of variants in elections and technology?
        Voting apps that have customized look &amp; feel;  Different ways of
        authenticating voters, integrated with organizations' existing
        mechanisms;  Tools for organizations that hold recurring elections;
        Elections that have different ballots for different voter segments;
        Specialized interfaces for disabled voters.

    .p
      To facilitate the inherent variety in elections, we are developing
      open standard data formats and protocols not just for the election
      returns, but also for the various aspects of defining an election and
      running elections.
      
    .p
      We envision a thriving ecosystem of election technology, that can
      include open-source, commercial, custom-built, and so forth.  All
      growing out of the core principles that make a Clear Election simple,
      safe, and verifiable.
